env:
  sshstats_grafana_cloud_user: {{ honeypot_grafana_cloud_username }}
  sshstats_grafana_cloud_passwd: {{ honeypot_grafana_cloud_password }}
  sshstats_nodename: {{ honeypot_nodename }}
service:
  parsers_file: /etc/fluent-bit/parsers.conf
  log_level: debug
pipeline:
  inputs:
    - name: tail
      tag: authn.ssh
      log_level: info
      path: /var/log/auth.log
      db: /var/fluentbit/authn_tail.db
      parser: authlog
  filters:
    - name: grep
      match: authn.ssh
      regex: $user ^\w+$
  outputs:
    - name: loki
      match: authn.ssh
      host: logs-prod-012.grafana.net
      port: 443
      http_user: ${sshstats_grafana_cloud_user}
      http_passwd: ${sshstats_grafana_cloud_passwd}
      labels: job=ssh-stats,node=${sshstats_nodename}
      tls: on
      tls.verify: on
